REMINDERS_FILE=path to your reminders.json file
REMINDER_DUE_PARAM=what have you labelled as the due date in your reminders.json file?
REMINDER_SUBJECT_PARAM=what have you labelled as the subject in your reminders.json file?
WHATSAPP_API_URL=your whatsapp api url
WHATSAPP_API_KEY=your whatsapp api key
WHATSAPP_CHAT_ID=whatsapp number or chat id to send the message to (in international format, without + sign)